@page "/footer"


    <footer class=" pt-3 text-white text-center fixed-bottom footInd">
        <div class="container row-md footInd ">
            
            <a href="#" class="col-md-3 ">
            <i class="bi bi-arrow-up-circle position-absolute bottom-0 end-0 p-5 h1">
                </i>
            </a>
            
            <p class="col-md-4 offset-md-5 ">Copyright&copy;2023 COMPany  </p>

           
        </div>
    </footer>

