@page "/Admin/administration"


<div class="bg-info text-dark font-weight-bolder p-3">
<h2 class="pt-2 text-center">A D M I N I S T R A T I O N</h2>
</div>

<div class="bg-muted text-center font-weight-bolder p-2 d-flex align-items-center flex-column m-5 ">
<div class="nav-item p-3">
        <NavLink class="nav-link shadow-lg p-3 my-5 bg-white rounded" style="width: 18rem" href="Admin/category-list">
            <span class="oi oi-eye h2" aria-hidden="true"></span> <h3>Category List</h3>
    </NavLink>
</div>
<div class="nav-item p-3">
        <NavLink class="nav-link shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem" href="Admin/product-list">
        <span class="oi oi-star h2" aria-hidden="true"></span> <h3>Product List</h3>
    </NavLink>
</div>
</div>

@code {

}

