@page "/Admin/delete-category/{id:int}"
@using Expert.WebShop.Vjezbe.models;
@inject HttpClient httpClient;
@inject NavigationManager navManager;
@inject IJSRuntime ijsRun


<div class="container-fluid px-0 w-75 grayBg">

    <section class="indigo  d-flex justify-content-between">
        <h2 class=" text-light  p-3">Delete Category</h2>
        <button type="button" class="btn-secondary rounded-2 m-3 p-2 " @onclick="Return">
            Go Back
        </button>
    </section>

    <section class=" pb-4 d-flex justify-content-center p-4">
        <div class="card  text-center text-dark  my-3" style="width: 32rem">
            <div class="card-body">
                <h3 class="card-title indigo  border-dark border-bottom border-end border-2 text-light rounded-2 p-2">
                    @category.CategoryName
                </h3>
                <br /><br />
                <h4>Description :</h4>
                <p class="card-text fs-4">
                     @category.CategoryDescription
                </p>
                <br />
                <br />
                <button class=" btn-danger  border-dark border-bottom border-end border-1 rounded-2 m-2 space p-3 fs-5" @onclick="()=>Delete(category.Id)">DELETE</button>

            </div>
        </div>
    </section>
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    public Category category = new Category();

    protected override async Task OnInitializedAsync()
    {
        var result = await httpClient.GetAsync($"{Constants.BaseUrl}/Categories/{Id}");
        if (result.IsSuccessStatusCode)
        {
            category = await result.Content.ReadFromJsonAsync<Category>();
        }
    }

    private async Task Delete(int Id)
    {

        var result = new HttpResponseMessage();

        var confirm = await ijsRun.InvokeAsync<bool>("confirm", " DELETE? Are you sure? ");

        if(confirm == true)
        {
            result = await httpClient.DeleteAsync($"{Constants.BaseUrl}/Categories/{Id}");

        }


        if (result.IsSuccessStatusCode)
        {
            navManager.NavigateTo("Admin/category-list");
        }
     
    }

    private async void Return()
    {
        navManager.NavigateTo("/Admin/category-list");
    }

}




