@page "/Admin/delete-product/{id:int}"
@using Expert.WebShop.Vjezbe.models;
@inject HttpClient httpClient;
@inject NavigationManager navManager;
@inject IJSRuntime ijsRun;


<div class="container-fluid px-0 w-75">

    <section class="indigo   d-flex justify-content-between">
        <h2 class=" text-light  p-3">Delete Product</h2>
        <button type="button" class="btn-secondary rounded-2 m-3 p-2 " @onclick="Return">
            Go Back
        </button>
    </section>

    <section class=" pb-4 d-flex  grayBg justify-content-center p-4">
        <div class="card  text-center text-dark  my-3" style="width: 32rem">
            <div class="card-body">
                <h3 class="card-title indigo  border-dark border-bottom border-end border-2 text-light rounded-2 p-2">
                    @products.ProductName
                </h3>
                <br /><br />
                <p class="card-text fs-4">
                    Description : @products.ProductDescription
                </p>
                <br />
                <p class="card-text fs-4">
                    Unit Price : @products.ProductPrice Eur
                </p>
                <br />
                <p class="card-text fs-4">
                    Discount : @products.Discount  %
                </p>
                <br />
                <button class=" btn-danger  border-dark border-bottom border-end border-1 rounded-2 m-2 p-3 space fs-5" @onclick="()=>DeleteProd(products.Id)">DELETE</button>

            </div>
        </div>
    </section>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private Products products = new Products();

    protected override async Task OnInitializedAsync()
    {
        var result = await httpClient.GetAsync($"{Constants.BaseUrl}/Products/{Id}");
        if(result.IsSuccessStatusCode)
        {
            products = await result.Content.ReadFromJsonAsync<Products>();
        }
    }

    private async Task DeleteProd(int id)
    {
        var result = new HttpResponseMessage();

        var confirm = await ijsRun.InvokeAsync<bool>("confirm", " DELETE? Are you sure? ");

        if(confirm == true){

            result = await httpClient.DeleteAsync($"{Constants.BaseUrl}/Products/{id}");

            if (result.IsSuccessStatusCode)
            {
                navManager.NavigateTo("Admin/product-list/");
            }
        }
        else
        {
            navManager.NavigateTo($"/Admin/delete-product/{id}");
        }

    }

    private async void Return()
    {
        navManager.NavigateTo("Admin/product-list");
    }

}
