@page "/Admin/edit-category/{id:int}"
@using Expert.WebShop.Vjezbe.models;
@inject HttpClient httpClient;
@inject NavigationManager navManager;
@inject IJSRuntime ijsRun;


<div class="container-md Width ">

    <div class="indigo text-light text-center p-3">
        <h3>Edit Category</h3>
    </div>
    <form @onsubmit="CategoryEdit">
        <div class="container grayBg text-light p-4 ">

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Category Id :</span>
                <input type="text" @bind-value="category.Id" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Name :</span>
                <input type="text" @bind-value="category.CategoryName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="input-group mb-3 ">
                <span class="input-group-text" id="inputGroup-sizing-default">Description :</span>
                <input type="text" @bind-value="category.CategoryDescription" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="col-12 pt-3">
                @* <div class="form-check">
                    <input class="form-check-input" @bind-value="category.IsHidden" type="checkbox" id="inlineCheckbox1">
                    <label class="form-check-label" for="inlineCheckbox1">It is hidden!</label>
            </div>*@
                
                
                    <div class="col-6">
                        <input type="url" @bind-value="category.ImagePath" class="form-control" placeholder="Choose Imgage" id="ImagePath">
                    </div>


                <div class="d-flex justify-content-between pt-3">
                    <button type="submit" class="indigo  rounded-2 border-dark border-bottom border-end border-2 p-2">Change</button>
                   
                    <button type="button" class="indigo  rounded-2 border-dark border-bottom border-end border-2 p-2" @onclick="Return">
                        Go Back
                    </button>
                </div>
            </div>
        </div>
       
    </form>
</div>




@code {
    [Parameter]
    public int Id { get; set; }

    private Category category = new Category();

    private bool IsError = false;



    protected override async Task OnInitializedAsync()
    {
        var result = await httpClient.GetAsync($"{Constants.BaseUrl}/Categories/{Id}");

        if (result.IsSuccessStatusCode)
        {
            category = await result.Content.ReadFromJsonAsync<Category>();
        }
    }



    private async Task CategoryEdit()
    {
        var result = new HttpResponseMessage();

        var confirm = await ijsRun.InvokeAsync<bool>("confirm", "You sure for changes?"); /*invokanje JS u C# , odlazi u IF*/

        if(confirm == true){

            result = await httpClient.PutAsJsonAsync($"{Constants.BaseUrl}/Categories/{Id}", category);
        }
       

        if (result.IsSuccessStatusCode)
        {
            navManager.NavigateTo("Admin/category-list");
        }
      
    }

           private async void Return()
    {
        navManager.NavigateTo("/Admin/category-list");
    }
}
