@media (min-width: 768px) {
    .Width {
        width: 75%;
    }
}

.indigo {
    background-color: #0D2262;
    color: floralwhite;
}

footer {
    background-color: #3A0647;
}

.bi bi-arrow-up-circle{
    background-color:white:
}