@media (min-width: 768px) {

    .Width {  width: 75%;  }

}


.indigo {
    background-color: #062565;
    color: floralwhite;
}

.footInd {
    background-color: #3A0647;
}

.whiteColor {
    color: white;
    background-color:white;
}

.border {
    color: #062565;
    background-color:floralwhite;
}

